<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('components/headlink')%>
    <link rel="stylesheet" href="/css/simple-datatables.css" />
    <link rel="stylesheet" href="/umum.css" />

    <title>Dashboad Ip Dishubkominfo</title>
  </head>

  <body>
    <%- include('components/dashboard/dashboard-header', {name:name})%> <%-
    include('components/dashboard/dashboard-sidebar', {type: type})%>

    <main id="main" class="main">
      <%- include('components/dashboard/dashboard-breadcrums')%>
      <section class="section">
        <div class="container">
          <!-- content -->

          <% if(type == 'desa' || type == 'dinas'){ %>

          <!-- render list app -->
          <%- include('pages/list-apps',{data: data, type: type,
          total_instansi:total_instansi}) %>
          <!-- end render list app -->

          <% }else if (type == 'blankspot'){ %>

          <!-- render blankspot -->
          <%- include('pages/list-blankspot',{data: data, type: type,
          total_data:total_data}) %>
          <!-- end render list app -->

          <% }else if (type == 'dashboard'){ %>

          <!-- render blankspot -->
          <%- include('pages/dashboard-page',{data: data, type: type}) %>
          <!-- end render list app -->

          <% } %>
        </div>
      </section>
      <%- include('components/footer')%>
    </main>

    <!-- Back to top -->
    <a
      href="#"
      class="back-to-top d-flex align-items-center justify-content-center">
      <i class="bi bi-arrow-up-short"></i>
    </a>

    <script src="/swaljs"></script>
    <script src="/js/simple-datatables.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
