<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">
  <ul class="sidebar-nav" id="sidebar-nav">
    <li class="nav-item">
      <a class="nav-link <%= !type ? '': 'collapsed'%>" href="ip/dashboard">
        <i class="bi bi-grid"></i>
        <span>Dashboard</span>
      </a>
    </li>
    <!-- End Dashboard Nav -->

    <li class="nav-item">
      <a
        class="nav-link <%= type == 'desa' ? '': 'collapsed'%>"
        data-bs-target="#components-nav"
        data-bs-toggle="collapse"
        href="#">
        <i class="bi bi-menu-button-wide"></i>
        <span>Desa</span>
        <i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul
        id="components-nav"
        class="nav-content collapse <%= type == 'desa' || type == 'blankspot' ? 'show': ''%>"
        data-bs-parent="#sidebar-nav">
        <li>
          <a href="" class="<%= type == 'blankspot' ? 'active': ''%>">
            <i class="bi bi-circle"></i>
            <span>Blankspot</span>
          </a>
        </li>
        <li>
          <a
            href="/ip/instansi-app/desa"
            class="<%= type == 'desa' ? 'active': ''%>">
            <i class="bi bi-circle"></i>
            <span>Aplikasi</span>
          </a>
        </li>
      </ul>
    </li>
    <!-- End Components Nav -->

    <li class="nav-item">
      <a
        class="nav-link <%= type == 'dinas' ? '': 'collapsed'%>"
        href="/ip/instansi-app/dinas">
        <i class="bi bi-building"></i>
        <span>Dinas</span>
      </a>
    </li>
    <!-- End Blank Page Nav -->
  </ul>
</aside>
<!-- End Sidebar-->
